.list {
  /* padding: 20px; */
  margin-top: 70px;
}
.list h1{
  background-color: #1455e3;
  text-align: center;
  color: white;
  padding: 100px;
}

.courseCard {
  display: flex; /* Align content and image side by side */
  border: 1px solid #ccc;
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #eceaea;
  align-items: center; /* Center content vertically */
}

.courseContent {
  flex: 1; 
  font-size: 20px;/* Take up remaining space */
  padding-right: 20px; /* Space between text and image */
}

.courseContent h2 {
  color: #333;
  margin-bottom: 20px;
}

.courseContent p {
  color: #555;
  margin-bottom: 20px;
}

.courseImage {
  flex-shrink: 0; /* Prevent image from shrinking */
  width: 500px; /* Set a fixed width for the image */
}

.courseImage img {
  width: 100%;
  
  height: 300px;
  border-radius: 8px;
}

.readMore{
  background-color: #1455e3;
  padding: 12px;
  margin-right: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #ccc;
}

.readMore:hover {
  background-color: #0056b3;
}
